
window#waybar {
  background: rgba(0, 0, 0, 0.4);
}

#window {
  background: @color3;
  padding: 0 10px 0px 10px;
  border: 5px solid @color8;
  border-radius: 10px;
}

window#waybar.empty{
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  border: 0;
  border: 0px;
}

window#waybar.empty #window{
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  border: 0;
  border: 0px;
}


#custom-spotify-metadata, #custom-spotify-play-pause, #custom-spotify-prev, #custom-spotify-next, #custom-spotify-quit {
    color:              @grey-light;
    padding:            0px 6px 0px 6px;
    font-size:          12px;
}

#custom-spotify-metadata {
    margin:             0px 8px 0px 1px;
    font-size:          16px;
}
#custom-spotify-metadata.playing {
    color:              @green;
}
#custom-spotify-metadata.paused {
    color:              @yellow;
}
#custom-spotify-prev {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-play-pause {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-next {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-quit {
    margin:             0px 0px 0px 1px;
}
